<h1>To do list</h1>

<div class="container">
    <div class="header">
        <app-add-tasks (addTaskEvent)="addTask($event)"></app-add-tasks>
    </div>

    <div class="column-panel">
        <app-tasks-list [todoMode]="true"
            [tasks]="todoTasks"
            (deleteTaskEvent)="deleteTask($event)"
            (doneTaskEvent)="doneTask($event)"
            [emptyText]="'No tasks to do'"
            [tasksHeader]="'Tasks to do'"></app-tasks-list>
    </div>

    <div class="column-panel">
        <app-tasks-list [tasks]="doneTasks"
            [emptyText]="'No done tasks'"
            [tasksHeader]="'Tasks done'"></app-tasks-list>
    </div>
</div>
