<div class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="binding-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#binding-collapse" aria-expanded="true" aria-controls="binding-collapse">
        Binding
      </button>
    </h2>
    <div id="binding-collapse" class="accordion-collapse collapse" aria-labelledby="binding-open">
      <div class="accordion-body">
        <app-binding></app-binding>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="change-detection-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#change-detection-collapse" aria-expanded="false" aria-controls="change-detection-collapse">
        Change detection
      </button>
    </h2>
    <div id="change-detection-collapse" class="accordion-collapse collapse" aria-labelledby="change-detection-open">
      <div class="accordion-body">
        <app-change-detection></app-change-detection>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="directives-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#directives-collapse" aria-expanded="false" aria-controls="directives-collapse">
        Directives
      </button>
    </h2>
    <div id="directives-collapse" class="accordion-collapse collapse" aria-labelledby="directives-open">
      <div class="accordion-body">
        <app-directives></app-directives>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="inline-components-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inline-components-collapse" aria-expanded="false" aria-controls="inline-components-collapse">
        Inline components
      </button>
    </h2>
    <div id="inline-components-collapse" class="accordion-collapse collapse" aria-labelledby="inline-components-open">
      <div class="accordion-body">
        <app-inline-component></app-inline-component>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="inputs-outputs-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inputs-outputs-collapse" aria-expanded="false" aria-controls="inputs-outputs-collapse">
        Inputs outputs
      </button>
    </h2>
    <div id="inputs-outputs-collapse" class="accordion-collapse collapse" aria-labelledby="inputs-outputs-open">
      <div class="accordion-body">
        <app-inputs-outputs></app-inputs-outputs>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="lifecycle-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lifecycle-collapse" aria-expanded="false" aria-controls="lifecycle-collapse">
        Life cycle
      </button>
    </h2>
    <div id="lifecycle-collapse" class="accordion-collapse collapse" aria-labelledby="lifecycle-open">
      <div class="accordion-body">
        <app-lifecycle></app-lifecycle>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="local-references-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#local-references-collapse" aria-expanded="false" aria-controls="local-references-collapse">
        Local references
      </button>
    </h2>
    <div id="local-references-collapse" class="accordion-collapse collapse" aria-labelledby="local-references-open">
      <div class="accordion-body">
        <app-local-references></app-local-references>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="ng-content-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ng-content-collapse" aria-expanded="false" aria-controls="ng-content-collapse">
        Ng Content
      </button>
    </h2>
    <div id="ng-content-collapse" class="accordion-collapse collapse" aria-labelledby="ng-content-open">
      <div class="accordion-body">
        <app-ng-content-sample></app-ng-content-sample>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="services-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#services-collapse" aria-expanded="false" aria-controls="services-collapse">
        Services
      </button>
    </h2>
    <div id="services-collapse" class="accordion-collapse collapse" aria-labelledby="services-open">
      <div class="accordion-body">
        <app-services></app-services>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="string-interpolation-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#string-interpolation-collapse" aria-expanded="false" aria-controls="string-interpolation-collapse">
        String interpolation
      </button>
    </h2>
    <div id="string-interpolation-collapse" class="accordion-collapse collapse" aria-labelledby="string-interpolation-open">
      <div class="accordion-body">
        <app-string-interpolation></app-string-interpolation>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="templates-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#templates-collapse" aria-expanded="false" aria-controls="templates-collapse">
        Templates
      </button>
    </h2>
    <div id="templates-collapse" class="accordion-collapse collapse" aria-labelledby="templates-open">
      <div class="accordion-body">
        <app-templates></app-templates>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="sanitization-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sanitization-collapse" aria-expanded="false" aria-controls="sanitization-collapse">
        Sanitization
      </button>
    </h2>
    <div id="sanitization-collapse" class="accordion-collapse collapse" aria-labelledby="sanitization-open">
      <div class="accordion-body">
        <app-sanitization></app-sanitization>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="expression-error-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#expression-error-collapse" aria-expanded="false" aria-controls="expression-error-collapse">
        ExpressionChanged error
      </button>
    </h2>
    <div id="expression-error-collapse" class="accordion-collapse collapse" aria-labelledby="expression-error-open">
      <div class="accordion-body">
        <app-expression-changed-error></app-expression-changed-error>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="view-encapsulation-open">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#view-encapsulation-collapse" aria-expanded="false" aria-controls="view-encapsulation-collapse">
        View encapsulation
      </button>
    </h2>
    <div id="view-encapsulation-collapse" class="accordion-collapse collapse" aria-labelledby="view-encapsulation-open">
      <div class="accordion-body">
        <app-view-encapsulation></app-view-encapsulation>
      </div>
    </div>
  </div>
</div>