<h1>Http test</h1>

<button (click)="getPosts()">getPosts</button>
<button (click)="getPost()">getPost</button>
<button (click)="getPostByUser()">getPostByUser</button>
<button (click)="addPost()">addPost</button>
<button (click)="updatePost()">updatePost</button>
<button (click)="deletePost()">deletePost</button>
<button (click)="changePost()">changePost</button>
<button (click)="getPostsWithErrors()">getPostsWithErrors</button>

<div *ngFor="let p of httpResult$ | async">
  {{ p.title }}
</div>