<button class="http-button" (click)="getMovies()">Get movies</button>
<button class="http-button" (click)="getMoviesResponse()">Get movies response</button>
<button class="http-button" (click)="postMovie()">Post movie</button>
<button class="http-button" (click)="putMovie()">Put movie</button>
<button class="http-button" (click)="patchMovie()">Patch movie</button>
<button class="http-button" (click)="deleteMovie()">Delete movie</button>
<button class="http-button" (click)="makeError()">Make error</button>
<button class="http-button" (click)="useHeaders()">Use headers</button>
<button class="http-button" (click)="useParams()">Use params</button>

<pre class="log-container">{{ data | json }}</pre>