<p>
    Welcome in {{ title | uppercase }}<br />
    PI number is: {{ pi | number: '1.1-2' }}<br />
    Today is: {{ date | date: 'dd-MM-yy' }}<br />
    My dog is: {{ dog.name }}<br />
    It's {{ dog.age }} years old<br />
    {{ showDog() | lowercase }}<br />
    2 + 2 = {{ 2 + 2 }}<br />
    Function: {{ showDog }}<br />
    Text from getter: {{ getSampleText }}<br />
</p>
<p>
    LocaleId: {{ localeId }}<br />
    Date PL: {{ date | date: 'fullDate': '' : 'pl' }}<br />
    Date BN: {{ date | date: 'fullDate': '' : 'bn' }}<br />
    JSon pipe: {{ dog | json }}
</p>